<log4net>
  <root>
    <!-- 定义记录的日志级别[None、Fatal、ERROR、WARN、DEBUG、INFO、ALL]-->
    <level value="ALL"/>
    <!-- 记录到什么介质中-->
    <appender-ref ref="LogInfoFileAppender"/>
    <appender-ref ref="LogErrorFileAppender"/>
  </root>
  <!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是,指定使用哪种介质-->
  <appender name="LogInfoFileAppender" type="log4net.Appender.RollingFileAppender">
    <!-- 输出到什么目录-->
    <param name="File" value="Log\\LogInfo\\"/>
    <!-- 是否覆写到文件中-->
    <param name="AppendToFile" value="true"/>
    <!-- 单个日志文件最大的大小-->
    <param name="MaxFileSize" value="10240"/>
    <!-- 备份文件的个数-->
    <param name="MaxSizeRollBackups" value="100"/>
    <!-- 是否使用静态文件名-->
    <param name="StaticLogFileName" value="false"/>
    <!-- 日志文件名-->
    <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;"/>
    <param name="RollingStyle" value="Date"/>
    <!--布局-->
    <layout type="LogOperationService.HandlerPatternLayout">
      <param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n
                                             日志编号：%property{LogUniqueCode}  &lt;BR &gt;%n
                                             日志序列：%c  &lt;BR &gt;%n
                                             机器名称：%property{LogMachineCode} &lt;BR&gt;%n
                                             IP 地 址：%property{LogIpAddress} &lt;BR&gt;%n
                                             程序名称：%property{LogProjectName} &lt;BR&gt;%n
                                             方法名称：%property{MethodName} &lt;BR&gt;%n
                                             调用路径：%property{InvokeName} &lt;BR&gt;%n
                                             方法入参：%property{MethodParam} &lt;BR&gt;%n
                                             方法出参：%property{MethodResult} &lt;BR&gt;%n
                                             日志信息：%m &lt;BR &gt;%n
                                             日志时间：%d &lt;BR &gt;%n
                                             日志级别：%-5p &lt;BR &gt;%n
                                             异常堆栈：%exception &lt;BR &gt;%n
                                             &lt;HR Size=1 &gt;"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="INFO"/>
    </filter>
  </appender>
  <!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是,指定使用哪种介质-->
  <appender name="LogErrorFileAppender" type="log4net.Appender.RollingFileAppender">
    <!-- 输出到什么目录-->
    <param name="File" value="Log\\LogError\\"/>
    <!-- 是否覆写到文件中-->
    <param name="AppendToFile" value="true"/>
    <!-- 备份文件的个数-->
    <param name="MaxSizeRollBackups" value="100"/>
    <!-- 单个日志文件最大的大小-->
    <param name="MaxFileSize" value="10240"/>
    <!-- 是否使用静态文件名-->
    <param name="StaticLogFileName" value="false"/>
    <!-- 日志文件名-->
    <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;"/>
    <param name="RollingStyle" value="Date"/>
    <!--布局-->
    <layout type="LogOperationService.HandlerPatternLayout">
      <param name="ConversionPattern" value="&lt;HR COLOR=red&gt;%n
                                             日志编号：%property{LogUniqueCode}  &lt;BR &gt;%n
                                             日志序列：%c  &lt;BR &gt;%n
                                             机器名称：%property{LogMachineCode} &lt;BR&gt;%n
                                             IP 地 址: %property{LogIpAddress} &lt;BR&gt;%n
                                             程序名称：%property{LogProjectName} &lt;BR&gt;%n
                                             方法名称：%property{MethodName}&lt;BR&gt;%n
                                             调用路径：%property{InvokeName} &lt;BR&gt;%n
                                             方法入参：%property{MethodParam} &lt;BR&gt;%n
                                             方法出参：%property{MethodResult} &lt;BR&gt;%n
                                             日志信息：%m &lt;BR &gt;%n
                                             日志时间：%d &lt;BR &gt;%n
                                             日志级别：%-5p &lt;BR &gt;%n
                                             异常堆栈：%exception &lt;BR &gt;%n
                                             &lt;HR Size=1 &gt;"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>
</log4net>